
body {
  padding: 30px;
}

section {
  max-width: 60%;
  display: flex;
}

h1 {
  margin: 0;
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
}

aside {
  margin-left: 24px;
}

img {
  max-width: 200px;
  border: 1px solid black;
}

figcaption {
  font-size: 12px;
  margin-bottom: 24px;
}

#webcam-container {
  margin-top: 48px;
}

#label-container {
  margin-top: 12px;
}
